DEVICE="eth1"
BOOTPROTO="static"
DNS1="{{ vm_dns1 }}"
DNS2="{{ vm_dns2 }}"
GATEWAY="{{ vm_gateway }}"
HWADDR="{{ facts.ansible_facts.hw_eth0.macaddress }}"
IPADDR="{{ vmware.stdout.stdout }}"
IPV6INIT="no"
MTU="1500"
NETMASK="{{ ansible_eth0.ipv4.netmask}}"
NM_CONTROLLED="yes"
ONBOOT="yes"
TYPE="Ethernet"